.container{
  color: #0c3669;
  display: grid;
  grid-template-columns: 1fr 1.2fr;  /* 右側のテキストエリアを少し広めに */
  gap: 4rem;  /* 画像とテキストの間隔を広げる */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;  /* テキスト要素間の間隔 */
  align-self: start;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 16px;
}

.btn {
  background-color: #0D3668;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  text-align: center;
  border: #0c3669 1px solid;
  transition: ease 0.3s;
}

.btn:hover{
  background-color: #fff;
  color: #0c3669;
  font-weight: bold;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  border: #0c3669 1px solid;
  transition: ease 0.3s;
}